* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Playfair Display', serif;
}
body{
  background: rgb(26, 26, 26) ;
  color:white;
}
.prime{
  height: calc(100vh - 80px);
}
::-webkit-scrollbar{
  display: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: gainsboro!important;
}
input{
  outline: none!important;
}
.bgx{
  background: #0000006b!important;
}
.cardImage{
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.tightLeft{
  text-align: left!important;
}
.navOutHeightScreen{
  height: calc(100vh - 80px);
}
#bgImg{
  transition: .4s!important;
}
#card:hover > div > #bgImg{
  transform: scale(1.1);
}
#desk::first-letter{
  font-size: 3rem;
  margin-right: 5px;
  color:rgb(182, 104, 255);
}
#bgImgLogin{
  background-image: url('https://c4.wallpaperflare.com/wallpaper/566/335/681/forest-firewatch-nature-digital-art-wallpaper-preview.jpg');
  background-size: cover;
  background-position: center;
}